@font-face {
  font-family: "Gotham Rounded";
  src: url("../Assets/fonts/gotham-rounded/GothamRounded-Light.otf")
    format("opentype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../Assets/fonts/gotham-rounded/GothamRounded-Book.otf")
    format("opentype");
  font-weight: 325;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../Assets/fonts/gotham-rounded/GothamRounded-Medium.otf")
    format("opentype");
  font-weight: 350;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../Assets/fonts/gotham-rounded/GothamRounded-Bold.otf")
    format("opentype");
  font-weight: 400;
  font-display: swap;
}

p {
  white-space: pre-line;
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.spinner {
  width: 55px;
  height: 55px;
  position: relative;
  animation: spinnerone 1.2s linear infinite;
}

.spinner div {
  inset: 8.33% 45.97% 76.21%;
  box-sizing: border-box;
  position: absolute;
  width: 3.5px;
  height: 9.2px;
  border-radius: 2.4px;
}

.spinner div:nth-child(2) {
  inset: 13.47% 27.18% 72.18% 61.18%;
  transform: rotate(30deg);
  opacity: 0.083;
}

.spinner div:nth-child(3) {
  inset: 27.18% 13.47% 61.16% 72.2%;
  transform: rotate(60deg);
  opacity: 0.166;
}

.spinner div:nth-child(4) {
  inset: 45.97% 8.33% 45.97% 76.21%;
  transform: rotate(90deg);
  opacity: 0.249;
}

.spinner div:nth-child(5) {
  inset: 61.18% 13.47% 27.15% 72.2%;
  transform: rotate(120deg);
  opacity: 0.332;
}

.spinner div:nth-child(6) {
  inset: 72.2% 27.18% 13.44% 61.18%;
  transform: rotate(150deg);
  opacity: 0.415;
}

.spinner div:nth-child(7) {
  inset: 76.21% 45.97% 8.33%;
  transform: rotate(180deg);
  opacity: 0.498;
}

.spinner div:nth-child(8) {
  inset: 72.2% 61.18% 13.44% 27.18%;
  transform: rotate(210deg);
  opacity: 0.571;
}

.spinner div:nth-child(9) {
  inset: 61.18% 72.34% 27.15% 13.33%;
  transform: rotate(240deg);
  opacity: 0.654;
}

.spinner div:nth-child(10) {
  inset: 45.97% 76.21% 45.97% 8.33%;
  transform: rotate(90deg);
  opacity: 0.737;
}

.spinner div:nth-child(11) {
  inset: 27.18% 72.2% 61.16% 13.47%;
  transform: rotate(120deg);
  opacity: 0.82;
}

.spinner div:nth-child(12) {
  inset: 13.47% 61.18% 72.18% 27.18%;
  transform: rotate(150deg);
  opacity: 0.903;
}

@keyframes spinnerone {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:where(*, *::before, *::after) {
  word-break: break-word;
}

a:focus-visible {
  box-shadow: 0 0 0 4px #003d4d;
  outline: 2px solid #ffffff;
  outline-offset: 0;
}
